.ipynb_checkpoints/
__pycache__/
src/.DS_Store
src/sinhala_tokenizers/.DS_Store
.DS_Store
examples/config.json
examples/vocab.json
experiments/experiments.ipynb
experiments/test.py
experiments/*
*.ipynb
.qodo
examples/examples.ipynb
